In [2]:
#important to run
!pip install mysql.connector

Requirement already satisfied: mysql.connector in d:\scraped_data\env\lib\site-packages (2.2.9)

In [4]:
#for above errors do for pymysql as When you’re connecting to a MySQL server using the sha256_password or caching_sha2_password authentication methods, Python’s pymysql library expects the presence of the 'cryptography' package. It’s like the secret handshake for these authentication methods. If it’s not there you end up with that  RuntimeError.
!pip install cryptography

Requirement already satisfied: cryptography in d:\scraped_data\env\lib\site-packages (43.0.1)
Requirement already satisfied: cffi>=1.12 in d:\scraped_data\env\lib\site-packages (from cryptography) (1.17.1)
Requirement already satisfied: pycparser in d:\scraped_data\env\lib\site-packages (from cffi>=1.12->cryptography) (2.22)

In [5]:
!pip install pymysql

Requirement already satisfied: pymysql in d:\scraped_data\env\lib\site-packages (1.1.1)

In [6]:
import pymysql

con = pymysql.connect(
    host='127.0.0.1',  # Use 'localhost' or '127.0.0.1'
    port=3306,         # Specify the port separately
    user='root',
    password='Root75',
    autocommit=True
)
print(con)

<pymysql.connections.Connection object at 0x000001866E3055E0>

In [7]:
mycursor=con.cursor()

In [8]:
mycursor.execute("CREATE DATABASE lama")

1

In [9]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('lama',)
('mysql',)
('performance_schema',)
('sai',)
('sakila',)
('sys',)
('world',)

In [10]:
mycursor.execute("USE lama")

0

In [13]:
import pandas as pd

# Replace 'your_file.csv' with the actual path to your CSV file
csv_file_path = r"C:/Users/Shers/Desktop/dfFinal_all.csv"

# Read the CSV file into a DataFrame
try:
    df = pd.read_csv(csv_file_path)
    print("DataFrame successfully created from the CSV file.")
    print(df.head())  # Display the first few rows of the DataFrame
except FileNotFoundError:
    print(f"File '{csv_file_path}' not found. Please provide the correct file path.")
except pd.errors.EmptyDataError:
    print(f"File '{csv_file_path}' is empty. Nothing to read.")
except pd.errors.ParserError:
    print(f"Error parsing the CSV file '{csv_file_path}'. Check the file format and delimiter.")
except Exception as e:
    print(f"An error occurred: {str(e)}")

DataFrame successfully created from the CSV file.
                route_name                                         route_link  \
0  Vijayawada to Hyderabad  https://www.redbus.in/bus-tickets/vijayawada-t...
1  Vijayawada to Hyderabad  https://www.redbus.in/bus-tickets/vijayawada-t...
2  Vijayawada to Hyderabad  https://www.redbus.in/bus-tickets/vijayawada-t...
3  Vijayawada to Hyderabad  https://www.redbus.in/bus-tickets/vijayawada-t...
4  Vijayawada to Hyderabad  https://www.redbus.in/bus-tickets/vijayawada-t...

          busname                                         bustype  \
0  APSRTC - 35085  DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle)
1   APSRTC - 3613          SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)
2   APSRTC - 9316          SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)
3  APSRTC - 35189  DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle)
4   APSRTC - 4046          SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)

  departing_time duration reaching_time  star_rating  price  seats_available
0          18:30  06h 00m          0:30          3.9  720.0               39
1          19:00  07h 42m          2:42          3.3  469.0               30
2          20:20  07h 50m          4:10          4.2  469.0               26
3          20:30  04h 35m          1:05          3.9  670.0               38
4          21:00  06h 40m          3:40          4.2  469.0               28

In [15]:
# df = Final_df
print(df)

                   route_name  \
0     Vijayawada to Hyderabad
1     Vijayawada to Hyderabad
2     Vijayawada to Hyderabad
3     Vijayawada to Hyderabad
4     Vijayawada to Hyderabad
...                       ...
9227      Motihari to Lucknow
9228      Motihari to Lucknow
9229       Tezpur to Guwahati
9230       Tezpur to Guwahati
9231       Tezpur to Guwahati

                                             route_link  \
0     https://www.redbus.in/bus-tickets/vijayawada-t...
1     https://www.redbus.in/bus-tickets/vijayawada-t...
2     https://www.redbus.in/bus-tickets/vijayawada-t...
3     https://www.redbus.in/bus-tickets/vijayawada-t...
4     https://www.redbus.in/bus-tickets/vijayawada-t...
...                                                 ...
9227  https://www.redbus.in/bus-tickets/motihari-to-...
9228  https://www.redbus.in/bus-tickets/motihari-to-...
9229  https://www.redbus.in/bus-tickets/tezpur-to-gu...
9230  https://www.redbus.in/bus-tickets/tezpur-to-gu...
9231  https://www.redbus.in/bus-tickets/tezpur-to-gu...

                                                busname  \
0                                        APSRTC - 35085
1                                         APSRTC - 3613
2                                         APSRTC - 9316
3                                        APSRTC - 35189
4                                         APSRTC - 4046
...                                                 ...
9227                    Shree Balajee Travels And Cargo
9228                    Shree Balajee Travels And Cargo
9229  Assam State Transport Corporation (ASTC) - 157959
9230  Assam State Transport Corporation (ASTC) - 154930
9231                                  Himalayan Travels

                                             bustype departing_time duration  \
0     DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle)          18:30  06h 00m
1             SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)          19:00  07h 42m
2             SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)          20:20  07h 50m
3     DOLPHIN CRUISE (VOLVO / SCANIA A.C Multi Axle)          20:30  04h 35m
4             SUPER LUXURY (NON-AC, 2 + 2 PUSH BACK)          21:00  06h 40m
...                                              ...            ...      ...
9227                      A/C Seater / Sleeper (2+1)          15:00  10h 00m
9228                               A/C Sleeper (2+1)          21:31  06h 30m
9229                    Bharat Benz A/C Seater (2+2)          14:00  04h 30m
9230                             Volvo AC Seater 2+2          15:45  04h 15m
9231                            NON A/C Seater (2+2)          23:40  04h 20m

     reaching_time  star_rating   price  seats_available
0             0:30          3.9   720.0               39
1             2:42          3.3   469.0               30
2             4:10          4.2   469.0               26
3             1:05          3.9   670.0               38
4             3:40          4.2   469.0               28
...            ...          ...     ...              ...
9227          1:00          1.2  1169.0               47
9228          4:01          1.2  1349.0               36
9229         18:30          4.2   298.0                5
9230         20:00          3.7   298.0               22
9231          4:00          1.8   500.0               33

[9232 rows x 10 columns]

In [16]:
#Installing the required libraries

!pip install pandas sqlalchemy mysql-connector-python

Requirement already satisfied: pandas in d:\scraped_data\env\lib\site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in d:\scraped_data\env\lib\site-packages (2.0.34)
Requirement already satisfied: mysql-connector-python in d:\scraped_data\env\lib\site-packages (9.0.0)
Requirement already satisfied: numpy>=1.26.0 in d:\scraped_data\env\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\scraped_data\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\scraped_data\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in d:\scraped_data\env\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\scraped_data\env\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in d:\scraped_data\env\lib\site-packages (from sqlalchemy) (3.1.0)
Requirement already satisfied: six>=1.5 in d:\scraped_data\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [17]:
#Creating the MySQL table
import pymysql

# con = pymysql.connect(
#     host='127.0.0.1',  # Use 'localhost' or '127.0.0.1'
#     port=3306,         # Specify the port separately
#     user='root',
#     password='Root75',
#     autocommit=True
# )

# import mysql.connector

# Establish a connection to the MySQL database
conn = pymysql.connect(
    host='127.0.0.1',  # Use 'localhost' or '127.0.0.1'
    port=3306,         # Specify the port separately
    user='root',
    password='Root75',
    database="lama",
    # autocommit=True
)

cursor = conn.cursor()

# Create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS bus_routes (
    id INT AUTO_INCREMENT PRIMARY KEY,
    route_name TEXT,
    route_link TEXT,
    busname TEXT,
    bustype TEXT,
    departing_time TIME,
    duration TEXT,
    reaching_time TIME,
    star_rating FLOAT,
    price DECIMAL(10, 2),
    seats_available INT
)
"""
cursor.execute(create_table_query)
conn.commit()
cursor.close()
conn.close()

In [18]:
pip install pymysql

Requirement already satisfied: pymysql in d:\scraped_data\env\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9232 entries, 0 to 9231
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   route_name       9232 non-null   object
 1   route_link       9232 non-null   object
 2   busname          9232 non-null   object
 3   bustype          9232 non-null   object
 4   departing_time   9232 non-null   object
 5   duration         9232 non-null   object
 6   reaching_time    9232 non-null   object
 7   star_rating      9232 non-null   float64
 8   price            9232 non-null   float64
 9   seats_available  9232 non-null   int64
dtypes: float64(2), int64(1), object(7)
memory usage: 721.4+ KB

In [21]:
#important to run
import pandas as pd
from sqlalchemy import create_engine
import re

# Read the CSV file into a DataFrame
df = pd.read_csv(r"C:/Users/Shers/Desktop/dfFinal_all.csv")

# # Clean the star_rating column to extract only the star rating value uncomment if in data clening not done
# df['star_rating'] = df['star_rating'].str.extract(r'(\d+\.\d+)')

# # Replace NULL values with 3.0 uncomment if in data clening not done
# df['star_rating'] = df['star_rating'].fillna(3.0)

# Create SQLAlchemy engine to connect to MySQL Database
engine = create_engine("mysql+pymysql://root:Root75@127.0.0.1/lama")

# Insert the DataFrame into the MySQL table
df.to_sql(name='bus_routes', con=engine, if_exists='append', index=False)

9232